########################################
# Project
########################################

COMPOSE_PROJECT_NAME=evento

########################################
# Ports
########################################

WORDPRESS_PORT=9050
PHPMYADMIN_PORT=9051

########################################
# Database
########################################

MYSQL_DATABASE=evento
MYSQL_USER=evento
MYSQL_PASSWORD=evento_password
MYSQL_ROOT_PASSWORD=evento_root_password

########################################
# WordPress
########################################

WP_URL=http://localhost:9050
WP_TITLE=EVENTO
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin123!
WP_ADMIN_EMAIL=admin@example.com
